{% extends "base.html" %}

{% block 'tittle' %}
    Cadastro
{% endblock 'tittle' %}

{% block 'body' %}
    <div class="container" style="margin-top: 10%;">
        <div class="row justify-content-center">
            <div class="col-5 col align-self-center">
                <h1>Cadastro</h1>
                {% if messages %}
                <br>
                    {% for message in messages %}
                        <span class="alert {{message.tags}}">{{message}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-5 col align-self-center">
                <form action="{% url "cadastrar_usuario" %}" method="post" class="form-control">{% csrf_token %}
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome de Usuário</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                        <ul class="list-group list-group-flush" style="margin-top: 4px">
                            <li class="list-group-item">Mínimo 6 caracteres</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Endereço de Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="text" class="form-control" id="senha" name="senha" required>
                        <ul class="list-group list-group-flush" style="margin-top: 4px">
                            <li class="list-group-item">Mínimo 8 caracteres</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="confirmar_senha" class="form-label">Confirmar Senha</label>
                        <input type="text" class="form-control" id="confirmar_senha" name="confirmar_senha" required>
                    </div>
                    <button type="submit" class="btn btn-success align-self-center">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock 'body' %}
