{% extends "base.html" %}

{% block 'tittle' %}
    Login
{% endblock 'tittle' %}

{% block 'body' %}
    <div class="container" style="margin-top: 10%;">
        <div class="row justify-content-center">
            <div class="col-5 col align-self-center">
                <h1>Login</h1>
                {% if messages %}
                <br>
                    {% for message in messages %}
                        <span class="alert {{message.tags}}">{{message}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-5 col align-self-center">
                <form action="{% url "login" %}" method="post" class="form-control">{% csrf_token %}
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome de Usuário</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" required>
                    </div>
                    <button type="submit" class="btn btn-success align-self-center">Logar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock 'body' %}
