{% extends "base.html" %}

{% block 'title' %}
    Dashboard
{% endblock 'title' %}

{% block 'body' %}
    <div class="container">
        <br>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "dashboard_produtos" %}">Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#faturamento">Faturamento</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>

        <div class="container">
            <section id="faturamento">
                <br>
                <h2>Faturamento da empresa: R${{faturamento}}</h2>
                <hr>
                <br>
                <h3>Faturamento por produto: </h3>
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Faturamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for faturamento in faturamento_per_produto %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{faturamento.0}}</td>
                            <td>R${{faturamento.1}}</td>
                            <td>R${{faturamento.2}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock 'body' %}