{% extends "base.html" %}

{% block 'title' %}
    Cadastrar Produto
{% endblock 'title' %}

{% block 'body' %}
    <div class="container">
        <h1>Atualizar Produto</h1>
        <br>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="col-5"><span class="alert {{message.tags}}">{{message}}</span></div>
                {% endfor %}
            {% endif %}
            <br>
            <form action="{% url "editar_produto" produto.id %}" method="post" class="form-control">{% csrf_token %}
                <label for="nome" class="form-label">Nome do Produto</label>
                <input type="text" name="nome" id="nome" class="form-control" placeholder="{{produto.nome}}">
                <label for="descricao" class="form-label">Descrição do Produto</label>
                <textarea name="descricao" id="descricao" class="form-control" placeholder="{{produto.descricao}}"></textarea>
                <label for="preco" class="form-label">Preço do Produto</label>
                <input type="number" step=".01" name="preco" id="preco" class="form-control" placeholder="{{produto.preco}}">
                <label for="qtd_estoque" class="form-label">Quantidade em Estoque</label>
                <input type="number" name="qtd_estoque" id="qtd_estoque" class="form-control" placeholder="{{produto.qtd_estoque}}">
                <div class="col-3">
                    <label for="ativo" class="form-label">Disponivel para compra</label>
                    <select name="ativo" id="ativo" class="form-select" required>
                        <option value="1" select>Sim</option>
                        <option value="0">Não</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
{% endblock 'body' %}

